.effective-checks {}

.effective-checks-actions {
  font-size: 0.75rem;
  margin: 0.25rem 0;

  a { padding: 0.5rem 0; }
}

.was-validated .effective-checks-required.is-invalid {
  .custom-control-label { color: $danger !important; }
}
