.form-has-many {
  .has-many-fields.sortable-ghost { border-top: solid 3px #212529; }
  .has-many-move { display: none; }
  .has-many-remove-disabled { opacity: 0; cursor: default !important; }

  .has-many-actions { margin-bottom: 0.75rem; }
  .has-many-move { margin-top: 1.5rem; }
}

.form-has-many.reordering {
  .has-many-actions { display: none; }
  .has-many-move { display: inline-block; cursor: grab; }

  .form-has-many { display: none; }
}

.form-has-many.tight {
  .has-many-remove { margin-top: 0; }
  .has-many-move { margin-top: 0.5rem; }
}

.form-has-many .has-many-remove {
  margin-top: 0;
  .eb-icon { height: $font-size-sm; width: $font-size-sm; margin-bottom: 2px; }
}

.form-has-many .has-many-add {
  margin-top: 0;
  .eb-icon { height: $font-size-sm; width: $font-size-sm; margin-bottom: 2px; }
}
