= f.text_field :title, hint: 'This is a text field from effective_bootstrap'
= f.email_field :email, hint: 'This is an email field from effective_bootstrap'
= f.check_box :archived, hint: 'This is a checkbox from effective_bootstrap'
