.bootstrap-datetimepicker-widget {
  font-weight: normal;
  .disabled { opacity: 0.5; text-decoration: line-through; }

  .glyphicon { background-repeat: no-repeat; }

  .glyphicon-chevron-up:after { content: asset-data-url('icons/chevron-up.svg'); }
  .glyphicon-chevron-down:after { content: asset-data-url('icons/chevron-down.svg'); }
  .glyphicon-chevron-left:after { content: asset-data-url('icons/chevron-left.svg'); }
  .glyphicon-chevron-right:after { content: asset-data-url('icons/chevron-right.svg'); }
  .glyphicon-time:after { content: asset-data-url('icons/clock.svg'); }
  .glyphicon-calendar:after { content: asset-data-url('icons/calendar.svg'); }
  .glyphicon-trash:after { content: asset-data-url('icons/trash.svg'); }
  .glyphicon-close:after { content: asset-data-url('icons/x.svg'); }
  .glyphicon-screenshot:after { content: asset-data-url('icons/sunset.svg'); }
}

.bootstrap-datetimepicker-widget table td,
.bootstrap-datetimepicker-widget table th {
  padding: 4px 3px 4px 3px !important;
  white-space: normal !important;
  border-top: none;
}

.bootstrap-datetimepicker-widget tbody tr:hover {
  background-color: inherit;
}

