.bootstrap-datetimepicker-widget {
  font-weight: normal;
  .disabled { opacity: 0.5; text-decoration: line-through; }

  .glyphicon { background-repeat: no-repeat; }

  .glyphicon-chevron-up { background-image: asset-data-url('icons/arrow-up-circle.svg'); }
  .glyphicon-chevron-down { background-image: asset-data-url('icons/arrow-down-circle.svg'); }
  .glyphicon-chevron-left { background-image: asset-data-url('icons/arrow-left-circle.svg'); }
  .glyphicon-chevron-right { background-image: asset-data-url('icons/arrow-right-circle.svg'); }
  .glyphicon-time { background-image: asset-data-url('icons/clock.svg'); }
  .glyphicon-calendar { background-image: asset-data-url('icons/calendar.svg'); }
  .glyphicon-screenshot { background-image: asset-data-url('icons/crosshair.svg'); }
  .glyphicon-trash { background-image: asset-data-url('icons/trash.svg'); }
  .glyphicon-close { background-image: asset-data-url('icons/x.svg'); }
}

.bootstrap-datetimepicker-widget table td,
.bootstrap-datetimepicker-widget table th {
  padding: 4px 3px 4px 3px !important;
  white-space: normal !important;
  border-top: none;
}

.bootstrap-datetimepicker-widget tbody tr:hover {
  background-color: inherit;
}

