div.btn-group > .btn.first-button {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.effective-radios.is-valid {
  label { border-color: #28a745; }
  .valid-feedback { display: block; }
}

.effective-radios.is-invalid {
  label { border-color: #dc3545; }
  .invalid-feedback { display: block; }
}

.effective-radios.card-deck {
  .card-header { cursor: pointer; }

  input[type=radio] { display: none; }

  .visible-when-selected { display: none; }
  .visible-when-unselected { display: block; }

  .active {
    .visible-when-selected { display: block; }
    .visible-when-unselected { display: none; }
  }
}

